OleM/data/
Louis/tutorial-satpy-half-day/
Louis/archive/
IR2mars31vertest.nc
jacobian.pkl
Donal/retrievals/ir1mean.npy
Donal/retrievals/IR2Mar29vertest.nc
Donal/retrievals/IR2mars31vertest_2.nc
Donal/retrievals/IR2mars31vertest.nc
Donal/retrievals/ir2mean.npy
Donal/retrievals/ir3mean.npy
Donal/retrievals/ir4mean.npy
Donal/retrievals/jacobian_2.pkl
Donal/retrievals/jacobian.pkl
Donal/retrievals/verdec.pkl
Donal/retrievals/verdec2d.pickle
Jonas/photometer_test_data_in.pkl
Jonas/photometer_test_data_out.pkl
Jonas/AlbedoFM_Calib_Tdep_Radiance_vs_bits.mat
Jonas/AlbedoFM_Thermistors_Temp_vs_bits.mat
OleM/Donal_stuff/data/moon.pkl
Jonas/Latest-selected.zip
*de421.bsp
Linda/output/
*.DS_Store
Linda/__pycache__/
Louis/geolocation/nadir_geo.py
Louis/geolocation/nadir_geo.sh
Louis/artifact/Nadir_artifact_correction.py
Louis/geolocation/geolocation test.py
Louis/monitoring/monitoring_Nickolay.sh
Louis/monitoring/monitoring_routine_Nickolay.py
Louis/artifact/miscelleanous.py
Linda/Private/
*__pycache__*